# Ignore large data files
data/roads.geojson
data.zip
data/overture_chennai_pois.geojson
data/overture_chennai_pois.geojson.state

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Vercel
.vercel/

.vercel
.env*
